<%= render 'layouts/errors', object: @rating %>

<%= form_for @rating, :html => { :multipart => true } do |f| %>
  <div class='form-group'>
    <h4>Rating</h4>
    <h2>
      <%= f.radio_button :score, "5" %>
      <%= f.label "\u2605 \u2605 \u2605 \u2605 \u2605" %><br>
      <%= f.radio_button :score, "4" %>
      <%= f.label "\u2605 \u2605 \u2605 \u2605" %><br>
      <%= f.radio_button :score, "3" %>
      <%= f.label "\u2605 \u2605 \u2605" %><br>
      <%= f.radio_button :score, "2" %>
      <%= f.label "\u2605 \u2605" %><br>
      <%= f.radio_button :score, "1" %>
      <%= f.label "\u2605" %><br>
    </h2>
  </div>
  <div class="form-group">
    <%= f.text_area :review, :placeholder => 'What did you like/dislike?', rows: 8, cols: 50 %>
  </div>
  <%= f.hidden_field :place_id, value: @place.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
