<%= render 'layouts/errors', object: @happy_hour %>

<%= form_for @happy_hour, :html => { :multipart => true } do |f| %>
  <div class='form-group'>
    <%= f.label :start_time %><br>
    <%= f.time_field :start_time  %>
  </div>
  <div class="form-group">
    <%= f.label :end_time %><br>
    <%= f.time_field :end_time %>
  </div>
  <div class="form-group">
    <%= f.text_area :details, :placeholder => 'Food or Drink specials, gimmicks, music, etc.', rows: 8, cols: 50 %>
  </div>
  <%= f.hidden_field :place_id, value: @place.id %>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
