<h1><%= @place.name %></h1>

<div class="row">
  <div class="col-sm-6">
    <p>
      Name: <br>
      <%= @place.name %><br>
    </p>
    <p>
      Address: <br>
      <%= @place.address %><br>
    </p>
    <p>
      Description: <br>
      <%= @place.description %><br>
    </p>
    <p>
      <h4>Happy Hour</h4>
      Description: <%= @place.hh_description %><br>
    </p>
    <p>
      Details: <br>
      <%= @place.happy_hours.first.details %><br>
    </p>
    <p>
      Time:
      <%= @place.happy_hours.first.start_time.strftime(" %l:%M %p ") %> -
      <%= @place.happy_hours.first.end_time.strftime(" %l:%M %p ") %><br>
    </p>
  </div>
  <div class="col-sm-6">
    <%= link_to "Edit Place", edit_place_path(@place), class: "btn btn-primary" %>
    <p>MAP GOES HERE?</p>
  </div>
</div>
